html {
  overflow-y: scroll;
}


/* Fonts */
@font-face {
 font-family: "Atkinson Hyperlegible", sans-serif;
 src: url(./AtkinsonHyperlegible-Regular.ttf) format('ttf');
}
@font-face {
 font-family: "Atkinson Hyperlegible Bold", sans-serif;
 src: url(./AtkinsonHyperlegible-Bold.ttf) format('ttf');
}

/* Text */
h1 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 22px;
  color: #ffffff;
  line-height: 1.0;
  }
h2 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16px;
  color: #ffffff;
  }
h3 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.0;
  }

p {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16px;
  color: #ffffff;
  }
p2 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-align: center !important;
}
p3 { /* Used for menu items */
  font-family: "Space Mono", monospace;
  font-size: 16px;
  color: #ffffff;
  text-align: center !important;
  text-shadow: 2px 2px #000000;
}
p4 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-align: center !important;
}
div {
  font-family: "Atkinson Hyperlegible", sans-serif;
  color: #ffffff;
}

/* Link text colours */
a:link {
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #ffffff;
  text-decoration-line: none;
}
a:active {
  color: #ffffff;
}

.center{ /*Override any other text align code*/
  text-align: center !important;
}


/* Background & Layout */
body{
  margin: 0;
  margin-top: -10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(20,20,20,0.97);
  background-image: url(Images/waves-scan.jpg);
  background-position: top;
  background-repeat: no-repeat fixed;
  background-attachment: fixed;
}
footer{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 10px;
  bottom: 0;
  text-shadow: 1px 1px 2px black;
}
.page{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.wrapper{
  display: inline-block;
  margin-top: 0px;
  padding-top: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
/* Text blocks */
.box{
  display: block;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 1px solid;
  border-color: #f0f0f0;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}
.blogbox{
  margin-left: 20px;
  margin-right: 20px;
}
.header{
  text-align: center;
  margin-top: 0px;
}
.blogphoto{
  display: inline;
  max-width:375px;
  width: 100%;
  border: 1px solid;
  border-color: #f0f0f0;
  text-align: center;
}
.project-icon{
  vertical-align: middle;
  transform: translate(-8%, -8%);
}
.bloglink{
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: #141414;
  width: 400px;
  border-color: #f0f0f0;
  margin-top: 10px;
  margin-bottom: auto;
}

/* Tablet Layout */
@media screen and (max-width: 1023px) and (min-width: 768px){
body{
  margin: 0;
  margin-top: -10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: top;
  background-repeat: no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
}
}

/* Mobile View */
@media only screen and (max-width: 768px) {
body{
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
}
.wrapper{
  display: inline-block;
  margin-top: 0px;
  padding-top: 20px;
  width: 100%;
}
/* Elements */
.box{
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.blogphoto{
  display: inline;
  max-width:375px;
  width: 95%;
  border: 1px solid;
  border-color: #f0f0f0;
  text-align: center;
}
}