html {
  overflow-y: scroll;
}


/* Fonts */
@font-face {
 font-family: "Atkinson Hyperlegible", sans-serif;
 src: url(./AtkinsonHyperlegible-Regular.ttf) format('ttf');
}
@font-face {
 font-family: "Atkinson Hyperlegible Bold", sans-serif;
 src: url(./AtkinsonHyperlegible-Bold.ttf) format('ttf');
}

/* Text */
h1 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 20px;
  color: #ffffff;
  line-height: 1.0;
  }
h2 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16px;
  color: #ffffff;
  }
h3 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.0;
  }

p {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16px;
  color: #ffffff;
  }
p2 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-align: center !important;
}
p3 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
p4 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16px;
  line-height: 0;
  color: #ffffff;
}
div {
  font-family: "Atkinson Hyperlegible", sans-serif;
  color: #ffffff;
}

/* Link text colours */
a:link {
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #d2eafc;
}
a:active {
  color: #d2eafc;
}

.button{
  background-color: rgb(20,20,20,0.97);
  border: 1px solid white; d
  padding: 5px;
}

.center{ /*Override any other text align code*/
  text-align: center !important;
}


/* Background */
body{
  background-color: rgb(20,20,20,0.97);
  background-image: url(Images/bg-toyoko.jpg);
  background-position: top;
  background-repeat: no-repeat fixed;
  background-attachment: fixed;
}

/* Page layout */
.page{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.menu{
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  margin-right: auto;
  width: 100%;
}
.left{
  position: fixed;
  margin-top: 0px;
  padding-top: 80px;
  margin-right: auto;
  width: 300px;
}
.right{
  margin-top: 15px;
  padding-top: 80px;
  margin-left: 320px;
  width: 500px;
}
.content-left{
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
  text-align: center;
  margin-bottom: 10px;
}
.content-left-desktop{
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
  text-align: center;
  margin-bottom: 10px;
}
.content-right{
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
  margin-bottom: 10px;
}
.twocolumn-block-left{
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
  margin-bottom: 10px;
  width: 271px;
  margin: auto;
}
.twocolumn-block-right{
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
  margin-bottom: 10px;
  width: 271px;
  margin-left: 25px;
  margin-right: 0px;
}
.content-menu{
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
  margin-bottom: 10px;
}
.menu-links{
  display: inline-block;
  width: 820px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  text-align: left;
}
.sidebar-content{
  display: inline-block;
  max-width: 450px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
}
.sidebar-content-extra{
  display: inline-block;
  text-align: left;
  width: 95%;
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 15px;
  margin-left: 25px;
}
.main-content{
  display: inline-block;
  width: 500px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  text-align: left;
}
.bio-content{
  display: inline-block;
  width: 500px;
  margin-top: 5px;
  margin-right: 25px;
  margin-bottom: 15px;
  margin-left: 25px;
  text-align: left;
}
.twocolumn-wrapper{
  column-count: 2;
  width: 100%;
  margin: 0;
}
.contentblock{
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
  text-align: center;
  margin-top: 5%;
  width: auto;
}
.other-content{
  display: inline-block;
  width: 500px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
}
.content-bio{
  display: inline-block;
  max-width: 500px;  
  text-align: center;
  margin-top: 0px;
  margin-right: 40px;
  margin-bottom: -10px;
  margin-left: 40px;
}
.content-credits{
  display: inline-block;
  max-width: 500px;  
  text-align: center;
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 5%;
  margin-right: 5%;
}
.content-column{
  column-count: 3;
 text-align: center;
  margin-left: auto;
  margin-right: auto;
}
footer{
  display: block;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
  width: 100%;
}
/* Page media classes */
.project-img{
  float: right;
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
}
.blogphoto{
  display: inline;
  max-width:450px;
  width: 100%;
  text-align: center;
}
.project-icon{
  vertical-align: middle;
  transform: translate(-8%, -8%);
}
.profileimg{
  max-width: 250px;
  padding-right: 5px;
  padding-top: 10px;
}
.sidebarimg{
  width: 80%;
  max-width: 250px;
}
.game-img{
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 5px;
}

/* Misc */
.backlink{
  font-weight: bold;
  color: #000000;
}
.homelink{
  margin-right: 90%;
}

@media screen and (min-width: 800px) {
.content-mobile{
  display: none;
}
}

/* Tablet Layout */
@media screen and (max-width: 1023px) and (min-width: 768px){
body{
  background-image: url(Images/bg-toyoko.jpg);
  background-position: top;
  background-repeat: no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  margin: 0;
}

iframe{
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.page{
  position: static;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.recentprojectimg{
  width: 100%;
  padding: 2px;
}
.column{
  width: 100%;
}
.contentblock{
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  width: 92%;
  border: 2px solid;
  border-color: #f0f0f0;
  margin-top: 10%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.sidebar-content{
  display: inline-block;
  text-align: center;
  width: 95%;
  margin-top: 15px;
  margin-right: 2px;
  margin-bottom: 15px;
  margin-left: 2px;
}
footer{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
}

/* Mobile Layout */
@media screen and (max-width: 767px) {
body{
  background-image: url(Images/bg-toyoko.jpg);
  background-position: top;
  background-repeat: no-repeat fixed;
  background-attachment: fixed;
  margin: 0;
  width: 100%;
}

iframe{
  display: block;
  width: 95%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
}
.page{
  column-count: 1;
  width: 100%;
  margin: auto;
}
.left{
  position: static;
  max-width: 90%;
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 65px;
}
.right{
  position: static;
  max-width: 100%;
  width: 300px;
  margin-top: 10px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
.menu{
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  margin-right: auto;
  padding-top: 5px;
  width: 100%;
}
.menu-links{
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: 80%;
}
.content-menu{
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
  margin-bottom: 10px;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}
.content-mobile{
  display: inline-block;
  text-align: center;
  width: 95%;
  margin-top: 0px;
  margin-right: 2px;
  margin-bottom: 0px;
  margin-left: 10px;
}
.content-left-desktop{
  display: none;
}
.content-left{
  margin-top: 10px;
}
.content-right{
  width: 100%;
  display: inline-block;
  position: static;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
}
.content-right-top{
  width: 100%;
  display: inline-block;
  position: static;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
}
.recentprojectimg{
  width: 100%;
  padding: 2px;
}
.sidebar-content{
  display: inline-block;
  text-align: center;
  width: 95%;
  margin-top: 15px;
  margin-right: 2px;
  margin-bottom: 15px;
  margin-left: 2px;
}
.main-content{
  display: inline-block;
  text-align: center;
  width: 95%;
  margin-top: 15px;
  margin-right: 2px;
  margin-bottom: 15px;
  margin-left: 2px;
}
.bio-content{
  display: inline-block;
  text-align: center;
  width: 95%;
  margin-top: 5px;
  margin-right: 2px;
  margin-bottom: 15px;
  margin-left: 2px;
}
.content-desktop{
  display: none;
}
footer{
  display: block;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 15px;
  width: 100%;
}
.project-img{
  float: none;
}
.twocolumn-wrapper{
  column-count: 1;
}
}