html {s
  overflow-y: scroll;
}


/* Fonts */
.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}


.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}


/* Text */
h1 {
  font-family: "Space Mono", monospace;
  font-size: 20px;
  color: #000000;
  line-height: 1.0;
  }
h2 {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  color: #000000;
  }
p {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  }
p2 {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  color: #000000;
  line-height: 1.0;
}
p3 {
  font-family: "Space Mono", monospace;
  font-size: 12px;
  color: #000000;
}
p4 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16px;
  color: #000000;
  }
p5 { /* For menu text */
  font-family: "Space Mono", monospace;
  font-size: 18px;
  color: #000000;
  line-height: 1.5;
  }
/* Link text colours */
a:link {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #000000;
  text-decoration-line: none;
}
a:active {
  color: #000000;
}

.center{ /*Override any other text align code*/
  text-align: center !important;
}

/* Background */
body{
  background-color: #fcfcfc;
  margin: 0;
  width: 100vw;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  overflow-x: hidden;
}

/* Desktop */
/* Main layout elements */
.wrapper{
  max-width: 700px;
  box-sizing: border-box;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}
.header{
  text-align: center;
  margin-top: 10px;
  margin-bottom: -10px;
}
.main-content{
 text-align: center;
 max-width: 700px;
 padding-top: 0.5em;
 padding-bottom: 0.5em;
 text-align: center;
 margin-left: 20px;
 margin-right: 20px;
}

/* Containers */
.box{
  outline: 2px solid black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}
.transbox{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}
.textwrapper{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.blogpostbox{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  max-width: 700px;
}
.projectwrapper{
  max-width: 500px;
  border-bottom: 1px solid;
  border-color: #000000;
  margin-left: auto;
  margin-right: auto;
}
.projectwrapper-bottom{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.vidwrapper{
  position: relative;
  display: block;
  width: 90%; /* width of iframe wrapper */
  height: 0;
  margin: auto;
  padding: 0% 0% 56.25%; /* 16:9 ratio */
  overflow: hidden;
}
.vidwrapper iframe {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.blogphoto{
  max-width: 450px;
  border: 1px solid;
  border-color: #f0f0f0;
  margin-bottom: 5px;
  text-align: center;
  border: 2px solid black;
  box-shadow: 4px 4px black;
}
.borderimg{
  width: 350px;
  outline: 2px solid black;
  box-shadow: 4px 4px black
}
.row {
  display: flex;
  text-align: center;
}
.column{
  flex: 50%;
  max-width: 50%;
  padding: 0 2px;
}
.column img{
  width: 100%;
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 2px;
}

footer{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 0;
}

/* Tablet Layout */
@media screen only and (max-width: 1023px) and (min-width: 768px) {
body{
  margin: 0;
}
}

/* Mobile Layout */
@media only screen and (max-width: 767px){
body{
  margin: 0;
  width: 100%;
}
.wrapper{
  width: 100%;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
.header{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -10px;
}
footer{
  display: block;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;
  width: 100%;
}
.borderimg{
  width: 320px;
}
.blogphoto{
  max-width: 320px;
}
}