html {
  overflow-y: scroll;
}


/* Fonts */
.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}


/* Text */
h1 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 20px;
  color: #ffffff;
  line-height: 1.0;
  }
h2 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16px;
  color: #ffffff;
  }
h3 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.0;
  }

p {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-indent: 4ch;
  }
p2 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
div {
  font-family: "Atkinson Hyperlegible", sans-serif;
  color: #ffffff;
}

/* Link text colours */
a:link {
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #ffffff;
  text-decoration-line: none;
}
a:active {
  color: #d2eafc;
}

.center{ /*Override any other text align code*/
  text-align: center !important;
}


/* Background */
body{
  background-color: #141414;
  background-image: url(Images/bg-field.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat fixed;
  background-attachment: fixed;
}

/* Blog layout */
.blog{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.blog-post{
  margin: auto;
  width: 600px;
}
.contentblock{
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: #141414;
  border: 2px solid;
  border-color: #f0f0f0;
  text-align: center;
  margin-top: 5%;
  width: auto;
}
.blog-content{
  display: inline-block;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  text-align: left;
}
.blogheader{
  text-align: center;
}
footer{
  display: block;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
  width: 100%;
}
.blogphoto{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Misc */
.homelink{
  margin-right: 90%;
}

@media screen and (min-width: 800px) {
.content-mobile{
  display: none;
}
}

/* Tablet Layout */
@media screen and (max-width: 1023px) and (min-width: 768px){
body{
  background-image: url(Images/bg-field.png);
  background-position: top;
  background-repeat: no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  margin: 0;
}

iframe{
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.contentblock{
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: #141414;
  width: 92%;
  border: 2px solid;
  border-color: #f0f0f0;
  margin-top: 10%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
footer{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
}

/* Mobile Layout */
@media screen and (max-width: 767px) {
body{
  background-image: url(Images/bg-field.png);
  background-position: top;
  background-repeat: no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  width: 100%;
}

iframe{
  display: block;
  width: 95%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
}
.blog{
  position: static;
  width: 90%;
}
.contentblock-blog{
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: #141414;
  width: 92%;
  border: 2px solid;
  border-color: #f0f0f0;
  margin-top: 10%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
footer{
  display: block;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 15px;
  width: 100%;
}
}