html {
  overflow-y: scroll;
}


/* Fonts */
@font-face {
 font-family: "Atkinson Hyperlegible", sans-serif;
 src: url(./AtkinsonHyperlegible-Regular.ttf) format('ttf');
}
@font-face {
 font-family: "Atkinson Hyperlegible Bold", sans-serif;
 src: url(./AtkinsonHyperlegible-Bold.ttf) format('ttf');
}

/* Text */
h1 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 20px;
  color: #ffffff;
  line-height: 1.0;
  }
h2 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16px;
  color: #ffffff;
  }
h3 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.0;
  }

p {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16px;
  color: #ffffff;
  }
p2 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
p3 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 14px;
  color: #ffffff;
}
p4 {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 16px;
  line-height: 0;
  color: #ffffff;
}
div {
  font-family: "Atkinson Hyperlegible", sans-serif;
  color: #ffffff;
}

/* Link text colours */
a:link {
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #ffffff;
  text-decoration-line: none;
}
a:active {
  color: #d2eafc;
}

.center{ /*Override any other text align code*/
  text-align: center !important;
}


/* Background */
body{
  background-color: #141414;
  background-image: url(Images/bg-field.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat fixed;
  background-attachment: fixed;
}

/* Blog layout */
.blog{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.menu{
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  margin-right: auto;
  width: 100%;
}
.left{
  position: fixed;
  margin-top: 0px;
  padding-top: 80px;
  margin-right: auto;
  width: 300px;
}
.right{
  margin-top: 15px;
  padding-top: 80px;
  margin-left: 320px;
  width: 500px;
}
.right-archive{
  margin-top: 15px;
  padding-top: 80px;
  margin-left: 320px;
  width: 500px;
}
.content-left{
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
  text-align: center;
}
.content-right{
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
  margin-bottom: 10px;
}
.content-menu{
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
  margin-bottom: 10px;
}
.menu-links{
  display: inline-block;
  width: 820px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  text-align: left;
}
.sidebar-content{
  display: inline-block;
  max-width: 450px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
}
.blog-post{
  margin: auto;
  width: 500px;
}
.contentblock-blog-link{
  display: block;
  text-align: center;
  width: 550px;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
  text-align: center;
  margin-bottom: 10px;
}
.blogheader{
  text-align: center;
}
.blog-link{
  display: inline-block;
  width: 500px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  text-align: center;
}
.content-menu{
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
  margin-bottom: 10px;
}
.menu-links{
  display: inline-block;
  width: 820px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  text-align: left;
}
.blog-header{
  float: right;
  display: inline;
  margin-top: 10px;
}
footer{
  display: block;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
  width: 100%;
}
.blogphoto{
  display: inline;
  max-width:450px;
  width: 100%;
  text-align: center;
}
.project-icon{
  vertical-align: middle;
  transform: translate(-8%, -8%);
}
.sidebarimg{
  width: 80%;
  max-width: 250px;
}

@media screen and (min-width: 800px) {
.content-mobile{
  display: none;
}
}

/* Tablet Layout */
@media screen and (max-width: 1023px) and (min-width: 768px){
body{
  background-image: url(Images/bg-field.png);
  background-position: top;
  background-repeat: no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  margin: 0;
}

iframe{
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.page{
  position: static;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.contentblock{
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: #141414;
  width: 92%;
  border: 2px solid;
  border-color: #f0f0f0;
  margin-top: 10%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.sidebar-content{
  display: inline-block;
  text-align: center;
  width: 95%;
  margin-top: 15px;
  margin-right: 2px;
  margin-bottom: 15px;
  margin-left: 2px;
}
footer{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
}

/* Mobile Layout */
@media screen and (max-width: 767px) {
body{
  background-image: url(Images/bg-field.png);
  background-position: top;
  background-repeat: no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  width: 100%;
}
iframe{
  display: block;
  width: 95%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
}
.blog{
  column-count: 1;
  width: 100%;
  margin: auto;
}
.left{
  position: static;
  max-width: 90%;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
}
.right{
  position: static;
  max-width: 100%;
  width: 300px;
  margin-top: 5px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
.menu{
  position: fixed;
  z-index: 1;
  padding-top: 5px;
  width: 100%;
  margin-top: 0px;
  margin-left: 10%;
  margin-right: auto;
}
.menu-links{
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: 80%;

}
.content-menu{
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(20,20,20,0.97);
  border: 2px solid;
  border-color: #f0f0f0;
  margin-bottom: 10px;
  width: 80%;
  
}
.content-left-desktop{
  display: none;
}
.contentblock-blog{
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: #141414;
  width: 92%;
  border: 2px solid;
  border-color: #f0f0f0;
  margin-top: 10%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.contentblock-blog-link{
  display: block;
  text-align: center;
  box-sizing: border-box;
  background-color: #141414;
  width: 300px;
  border: 2px solid;
  border-color: #f0f0f0;
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.sidebar-content{
  display: inline-block;
  text-align: center;
  width: 95%;
  margin-top: 15px;
  margin-right: 2px;
  margin-bottom: 15px;
  margin-left: 2px;
}
.blog-link{
  display: inline-block;
  width: auto;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  text-align: center;
}
footer{
  display: block;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 15px;
  width: 100%;
}
.project-img{
  float: none;
}
}