html {
  overflow-y: scroll;
}


/* Fonts */
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}


/* Text */
h1 {
  font-family: "Space Mono", monospace;
  font-size: 20px;
  color: #ffffff;
  }
h2 {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  color: #ffffff;
  }
h3 {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.0;
  }

p {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  color: #ffffff;
  }
p2 {
  font-family: "Space Mono", monospace;
  font-size: 10px;
  color: #ffffff;
}
p3 {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  color: #ffffff;
}
p4 {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  line-height: 0;
  color: #ffffff;
}
div {
  font-family: "Space Mono", monospace;
  color: #ffffff;
}

/* Link text colours */
a:link {
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #ffffff;
  text-decoration-line: none;
}
a:active {
  color: #d2eafc;
}

.center{ /*Override any other text align code*/
  text-align: center !important;
}


/* Background */
body{
  background-color: #0b0b0b;
  background-image: url(Images/bg-toyoko.jpg);
  background-position: top;
  background-repeat: no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
}

/* Desktop page layout */
/* Main items */
.page{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.left{
  position: fixed;
  display: inline-block;
  background-color: rgb(11, 11, 11,0.97);
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  top: 0;
  bottom: 0;
}
.right{
  position: absolute;
  display: inline-block;
  width: 50%;
  margin-left: 20%;
  background-color: rgb(11, 11, 11,0.97);
  top: 0;
}
@media screen and (min-width: 1024px) {
.content-mobile{
  display: none;
}
}

/* Text blocks */
.sidebar-content{
  display: inline-block;
  text-align: left;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
}
.main-content-top{
  display: inline-block;
  margin-right: 10%;
  margin-bottom: 25px;
  margin-left: 10%;
  text-align: left;
}
.main-content{
  display: inline-block;
  margin-right: 10%;
  margin-bottom: 25px;
  margin-left: 25px;
  text-align: left;
}
.archive-content{
  width: 100%;
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  text-align: left;
}
.bio-content{
  display: inline-block;
  width: 500px;
  margin-top: 5px;
  margin-right: 25px;
  margin-bottom: 15px;
  margin-left: 25px;
  text-align: left;
}

footer{
  position: fixed;
  display: inline;
  padding-top: 0px;
  padding-bottom: 10px;
  width: 100%;
  bottom: 0;
  line-height: 1;
}

/* Media classes */
iframe{
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

.project-img{
  float: right;
  margin-left: 15px;
}
.blogphoto{
  display: inline;
  max-width:450px;
  width: 100%;
  text-align: center;
}
.project-icon{
  vertical-align: middle;
  transform: translate(-8%, -8%);
}
.profileimg{
  max-width: 250px;
  padding-right: 5px;
  padding-top: 10px;
}
.sidebarimg{
  width: 100%;
  max-width: 250px;
}
.game-img{
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 5px;
}

/* Misc */
.homelink{
  margin-right: 90%;
}

@media screen and (min-width: 800px) {
.content-mobile{
  display: none;
}
}

/* Tablet Layout */
@media screen and (max-width: 1023px) and (min-width: 768px){
body{
  background-image: url(Images/bg-toyoko.jpg);
  background-position: top;
  background-repeat: no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  margin: 0;
}

iframe{
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.page{
  position: static;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.recentprojectimg{
  width: 100%;
  padding: 2px;
}
.column{
  width: 100%;
}
.sidebar-content{
  display: inline-block;
  text-align: center;
  width: 95%;
  margin-top: 15px;
  margin-right: 2px;
  margin-bottom: 15px;
  margin-left: 2px;
}
footer{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
}

/* Mobile Layout */
@media screen and (max-width: 767px) {
body{
  background-color: #0b0b0b;
  background-image: url(Images/bg-toyoko.jpg);
  background-position: top;
  background-repeat: no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
}

iframe{
  display: block;
  width: 95%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* Main blocks */
.page{
  width: 100%;
}
.left{
  background-color: rgb(11, 11, 11,0.97);
  position: static;
  display: inline-block;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 20px;
  margin-top: -10px;
  padding-bottom: 20px;
  margin-bottom: -10px;
}
.right{
  background-color: rgb(11, 11, 11,0.97);
  position: static;
  display: inline-block;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-bottom: -10px;
}

/* Text blocks */
.sidebar-content{
  display: inline-block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.main-content-top{
  display: inline-block;
  text-align: center;
  margin-top: -25px;
  margin-bottom: 15px;
}
.main-content{
  display: inline-block;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 15px;
}
.archive-content{
  display: inline-block;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 15px;
}
.content-desktop{
  display: none;
}
.content-mobile{
  display: inline;
}
.homelink{
  margin-left: 10%;
}

/* Media classes */
.project-img{
  float: none;
}
.recentprojectimg{
  width: 100%;
  padding: 2px;
}
footer{
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 100%;
}
}