html {
  overflow-y: scroll;
}


/* Fonts */
.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}
.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

/* Text */
h1 { /* Name header */
  font-family: "Rubik Glitch", system-ui;
  font-size: 25px;
  color: #ffffff;
  line-height: 1.5;
  display: inline;
  }
h1:hover{
  opacity: 0.8;
}
p { /* Generic text */
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5;
  }
p2 { /* Name subtitle */
  font-family: "IBM Plex Mono", monospace;
  font-size: 13px;
  color: #c7c7c7;
  line-height: 1.5;
  display: inline;
}
p3 { /* Used for footer text */
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  color: #ffffff;
}

/* Link text colours */
a:link {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  opacity: 0.9;
  text-decoration: none;
}
a:active {
  color: #d1d1d1;
  text-decoration: none;
}

/* Background */
body{
  background-color: #141414;
  background-image: url(./noise.svg);
}
background{
  width: 100%;
  height: 100%;
  
  
}

/* Layout */
.body{
  display: block;
}

.columns{
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.columns > * {
  width: 100%;
  margin-top: 5px;
}
.left{
  position: fixed;
  width: 200px;
  margin-left: 25px;
  text-align: left;
}
.right{
  width: 70%;
  margin-left: 300px;
  padding-left: 50px;
  padding-top: 40px;
  text-align: left;
}
.profile{
  display: inline-block;
  width: 70%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;

}
.profile img{
  float: left;
  width: 300px;
  margin-right: 20px;
}

.desktop-header{
  display: block;
}
.mobile-header{
  display: none;
}
.gallery{
  margin-top:-40px;
  padding-bottom: 10px;
}

.footer{
  display: block;
  position: relative;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 10px;
}
.formwrapper{
  max-width: 70%;
}

/* Image Gallery */
.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gallery-column {
  flex: 40%;
  max-width: 60%;
  padding: 0 4px;
}
.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.gallery a:hover{
  opacity: 0.8;
  filter: saturate(0);
}
.sns-icon{
  opacity: 1;
  width: 30px;
  vertical-align: middle;
  transform: translate(-8%, -8%);
}
.sns-icon:hover{
  opacity: 0.8;
}

/* Homepage slideshow */
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 85%;
  position: relative;
  top: 0px;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 1px;
  width: 1px;
  margin: 0 2px;
  background-color: #141414;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #141414;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Contact form styling */
.form-control{
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  background-color: #141414;
  color: white;
}
.button{
  background-color: #141414;
  border: none;
  color: white;
  outline: 1px solid white;
  box-shadow: 4px 4px white;
  padding: 15px 32px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
}
.button:hover {
  background-color: #f0f0f0;
}
.button:active {
  box-shadow: 1px 1px black;
  transform: translate(2px,2px);
}

iframe
  {
    margin-left: 8px;
  }

.desktop{
  display: block;
}

.mobile{
  display: none;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .desktop-header{
  display: none;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Mobile Menu - Curtain menu */
.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #141414;
  background-image: url(./noise.svg);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.5;
  display: block;
  transition: 0.2s;
}

.overlay .closebtn {
  position: absolute;
  top: -25px;
  right: 32px;
  font-size: 60px;
}

.sidenav-mobile a, .dropdown-btn-mobile {
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  color: #141414;
  background-image: url(./noise.svg);
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}

.sidenav-mobile{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-btn-mobile{
  font-size: 25px;
  line-height: 1.5;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  transition: 0.2s;
}

.dropdown-container-mobile {
  display: none;
  font-size: 16px;
  background-color: #f7f7f7;
}
.menu-mobile-btn{
  color: #ffffff;
}

.dropdown-container-mobile-link{
  font-size: 22px !important;
}

/* Mobile Layout */
@media screen and (max-width: 768px) {
body{
}
.columns{
  display: block;
  width: 100%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.left{
  display: block;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
  text-align: center;
}
/* MOBILE MENU */
.mobile-header{
  display: block;
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 35px;
  position: sticky;
  top: 0;
  margin-top: -10px;
  padding-top: 15px;
  z-index: 100;
  background-color: #141414;
  background-image: url(./noise.svg);
}
.mobile-title{
  float: left;
  width: 75%;
  text-align: left;
  display: block;
  margin-left: 12px;
  margin-top: 2px;
}
.mobile-icons{
  float: none;
  text-align: center;
  display: inline-flex;
  transform: translate(0, 15%);
}
.mobile-menu{
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 5px;
}
.desktop-header{
  display: none;
}
.right{
  display: block;
  position: relative;
  width: 100%;
  /* Reset alignment */
  margin-left: 0px;
  padding-left: 0px;
  padding-top: 0px;
  /* Centralise elements */
  text-align: center;
}
iframe {
  aspect-ratio: 16 / 9;
  height: auto;
  width: 95%;
  margin: 0px auto;
}
.gallery{
  margin-top: 0px;
  padding-bottom: 10px;
  max-width: 100%;
}
.gallery-column {
  flex: 25%;
  min-width: 100%;
  padding: 0 0px;
}
.gallery-column img {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sit next to each other */
.gallery-column {
  flex: 50%;
  width: 100%;
  padding: 0 0px;
}

.gallery-column img {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
}
.profile{
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.profile img{
  width: 90%;
  float: none;
  padding-right: 0px;
}

.formwrapper{
  max-width: 95%;
}

.slideshow-container {
  max-width: 100%;
  top: 0;
}

.desktop{
  display: none;
}

.mobile{
  display: block;
}
.sns-icon{
  width: 40px;
}


/* Change footer padding for mobile */
.footer{
  display: block;
  position: relative;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
}
